.para1{
    background-color: brown;
}

.para2{
    background-color: blue;
}

<<<<<<< HEAD
.para4{
    background-color: aqua;
=======
.para3{
    background-color: yellow;
>>>>>>> 1ead25a99656a1e75f8f11e9f76c44f5653ad6d7
}